:root{
    --lila: #7c3aed;
    --feher: #ffffff;
    --vilagoslila: #ede9fe;
    --sotetebblila: #cbb5f9;
    --footerdark: #000000;
    --textszurke: #4a5362;
    --description: #686868;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
}
section{
    min-height: 500px;
}



.navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 5;
    background-color: white;
    padding-left: 100px;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    min-height: 60px;
    font-size: 16px;
}

.navbarlinks {
    display: flex;
    gap: 50px;
}

.navbarlinks a {
    text-decoration: none;
    color: #121212;
    font-weight: 550;
}

#homeHyper {
    margin-left: 30px;
}



.explorerestaurant-btn{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    color: var(--feher);
    font-weight: 500;
    background-color: var(--lila);
}


.content{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.DineEase-landsection{
    max-width: 1300px;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 100%;
    place-items: CENTER;
}

.landtext > h1{
    font-size: 4rem;
    letter-spacing: -1px;
    font-weight:bolder;
}
.landtext > p{
    font-size: 1.1rem;
    color: var(--textszurke);
    line-height: 1.8rem;
    font-weight: 500;
}
.landimg{}
.landimg img{
    width: 100%;
}







.asd {
    position: relative;
    z-index: 100;
}

.content {
    min-height: 300px;
    position: relative;
    z-index: 1;
}

.costumeshape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f6f9ff;
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
    z-index: 0;
}

.side-rectangle {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.left {
    left: 0;
    bottom: 0px;
    height: 80px;
    width: 30%;
    clip-path: polygon(0% 33px, 100% 5px, 100% 100%, 0% 100%);
    background-color: var(--lila);
}

.right {
    bottom: 5%;
    right: 0;
    height: 110px;
    width: 40%;
    clip-path: polygon(0% 40px, 100% 0%, 100% 100%, 0% 100%);
    background-color: var(--sotetebblila);
}
.right-bottom{
    bottom: 0;
    right: 0;
    height: 110px;
    width: 20%;
    clip-path: polygon(0% 15px, 100% 0%, 100% 100%, 0% 100%);
    background-color: var(--lila);
}

.costumeshape-down {
    display: flex;
    position: relative;
    top: 0;
    width: 100%;
    background-color: #f6f9ff;
    z-index: 0;
}
.costumeshape-down > .left {
    margin-bottom: 90px;
    left: 0;
    top: -40px;
    height: 80px;
    width: 20%;
    clip-path: polygon(0% 0, 100% 0, 100% 76%, 0% 100%);
    background-color: var(--vilagoslila);
}

.costumeshape-down > .right {
    bottom: 5%;
    right: 0;
    height: 110px;
    width: 16%;
    clip-path: polygon(0% 0%, 100% 0, 100% 55%, 0% 70%);
    background-color: var(--lila);
}
.costumeshape-down > .right-bottom{
    bottom: 0;
    right: 0;
    height: 110px;
    width: 20%;
    clip-path: polygon(0% 15px, 100% 0%, 100% 100%, 0% 100%);
    background-color: var(--lila);
}




.FeaturedRestaurants{
    height: 700px;
    margin: 10px 0;
}

.center{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
}

.FeaturedRestaurants-title{
    font-size: 4rem;
    letter-spacing: -1px;
    font-weight:bolder;
    margin-bottom: 0;
    margin-left: 80px;
    align-self: self-start;
}
.FeaturedRestaurants-alttitle{
    font-size: 1.1rem;
    color: var(--textszurke);
    font-weight: 500;
    margin-top: 10px;
    margin-left: 80px;
    align-self: self-start;
}


.cardholder {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.card{
    display: flex;
    max-width: 360px;
    flex-direction: column;
    margin: 5px;
    box-shadow: 1px 1px 5px #d4d4d4;
    border-radius: 6px;
    padding: 16px;
}
@media only screen and (max-width: 1100px){
    .cardholder{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .center{
        margin-top: 20px;
    }
    .FeaturedRestaurants{
        height: max-content;
    }
}
@media only screen and (max-width:880px) {
    .cardholder{
        grid-template-columns: 100%;
    }
    .HeroSection{
        min-height: min-content;
        height: fit-content;
        max-height: max-content;
    }
}

.card-img{
}
.card-img > img{
    max-height: 200px;
    border-radius: 10px;
}
.card-img img{
    width: 100%;
}
.card-nameandrate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: end;
    margin-bottom: 0;
    height: 50px;
}
.ratestars{
    align-self: end;
}
.gray{
    filter: grayscale(100%);
}

.card-nameandrate > h2{
    font-size: 1.6rem;
    font-weight: 700;
    align-items: end;
}

.card-description > p{
    font-size: 1.1rem;
    color: var(--description);
    font-weight: 500;
}
.card-viewrestaurant{
    color: var(--lila);
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    text-align: right;
}


.testimonials{
    background-color: var(--vilagoslila);
    display: grid;
    grid-template-columns: 50% 45%;
    min-height: 640px;
    height: max-content;
    justify-content: center;
    gap: 40px;
}

.testimonials > div:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
}

.testimonials > div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 40px;
}

.testimonials h1{
    font-size: 42px;
    letter-spacing: -1px;
    font-weight:bolder;
    margin-bottom: 0;
    margin-left: 80px;
    max-width: 420px;
    align-self: flex-end;
}
svg{
    width: 16px;
    height: 16px;
    margin-top: 10px;
}
.quoteincarda{
}

.experiencecard{
    max-width: 300px;
    background-color: #fff;
    border-radius: 8px;
    align-self: flex-end;
}
.experiencecard2{
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
}
.experiencecard3{
    max-width: 310px;
    background-color: #fff;
    border-radius: 8px;
}


.experiencecardbody{
    display: grid;
    grid-template-columns: 10% 90%;
    padding: 14px 16px;
}
.experienceCardText > h4{
    margin: 12px 0;
}



.restaurant_search input{
    padding: 0;
}
.search-container {
    display: grid;
    grid-template-columns: 300px 36px 46px;
    justify-content: center;
}
.search-container button{
    height: 100%;
    width: 46px;
    background-color: var(--vilagoslila);
    margin-left: 16px;
    border-radius: 8px;
    max-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.search-container button > *{
    fill: #000000 !important;
}
.search-container img {
    width: 34px;
}
.restaurant_search > h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 0;
}
.restaurant_search > p{
    text-align: center;
    margin: 5px 0 20px 0;
    font-weight: 500;
}



#simpleSearch{
    padding-left: 38px;
    background: url("./assets/images/Search\ Iconvector.svg") no-repeat left;
    background-size: 36px;
    background-color: var(--vilagoslila);
    border: none;
    border-radius: 8px 0 0 8px;
    height: 46px;
}
.filter{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 36px;
    background-color: var(--vilagoslila);
    border-radius: 0 8px 8px 0;
}
.filter > img{
    width: 100%;
    max-width: 22px;
}


#advancedSearchContainer {
    display: none;
}
#advancedSearchContainer{
    grid-template-columns: 200px 200px 200px 46px;
    gap: 10px;
    justify-content: center;
}
#advancedSearchContainer input, #advancedSearchContainer select{
    padding-left: 8px;
    background-size: 36px;
    background-color: var(--vilagoslila);
    border: none;
    border-radius: 8px;
    height: 46px;
}
#advancedSearchContainer button{
    height: 100%;
    width: 46px;
    background-color: var(--vilagoslila);
    border-radius: 8px;
    max-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
#advancedSearchContainer img{
    height: 100%;
    width: auto;
}
#advancedSearchContainer label{
    grid-column: 1/5;
    text-align: center;
    color: var(--lila);
    font-weight: 700;
}



input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ #advancedSearchContainer {
    display: grid;
}
input[type="checkbox"]:checked ~ .search-container {
    display: none;
}
.advanced-search-container {
}

form {
    display: grid;
    grid-template-columns: 30% 30% 30% 10%;
    grid-gap: 10px;
}

.AllrestaurantSearch{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer{
    background-color: #000000;
    display: grid;
    grid-template-columns: 50% 50%;
    color: var(--description);
}
footer a{
    color: var(--description);
    text-decoration: none;
}
.footerCol1{
    display: flex;
    flex-direction: column;
}
.footerCol1 img{
    max-width: 30px;
}
.footerCol2 img{
    max-width: 30px;
}