:root{
    --lila: #7c3aed;
    --feher: #ffffff;
    --vilagoslila: #ede9fe;
    --sotetebblila: #cbb5f9;
    --footerdark: #000000;
    --textszurke: #4a5362
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
section{
    min-height: 500px;
}


.navbar{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin: 10px 0;
}
.navbar-linkek{
    display: flex;
    gap: 50px;
}
.navbar-linkek a {
    text-decoration: none;
    color: #121212;
    font-weight: 550;
}

.explorerestaurant-btn{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    color: var(--feher);
    font-weight: 500;
    background-color: var(--lila);
}


.content{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.DineEase-landsection{
    max-width: 1300px;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 100%;
    place-items: CENTER;
}

.landtext > h1{
    font-size: 4rem;
    letter-spacing: -1px;
    font-weight:bolder;
}
.landtext > p{
    font-size: 1.1rem;
    color: var(--textszurke);
    line-height: 1.8rem;
    font-weight: 500;
}
.landimg{}
.landimg img{
    width: 100%;
}







.asd {
    position: relative;
    z-index: 100;
}

.content {
    min-height: 300px;
    position: relative;
    z-index: 1;
}

.costumeshape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f6f9ff;
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
    z-index: 0;
}

.side-rectangle {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.left {
    left: 0;
    bottom: 0px;
    height: 80px;
    width: 30%;
    clip-path: polygon(0% 33px, 100% 5px, 100% 100%, 0% 100%);
    background-color: var(--lila);
}

.right {
    bottom: 5%;
    right: 0;
    height: 110px;
    width: 40%;
    clip-path: polygon(0% 40px, 100% 0%, 100% 100%, 0% 100%);
    background-color: var(--sotetebblila);
}
.right-bottom{
    bottom: 0;
    right: 0;
    height: 110px;
    width: 20%;
    clip-path: polygon(0% 15px, 100% 0%, 100% 100%, 0% 100%);
    background-color: var(--lila);
}

.costumeshape-down {
    display: flex;
    position: relative;
    top: 0;
    width: 100%;
    background-color: #f6f9ff;
    z-index: 0;
}
.costumeshape-down > .left {
    margin-bottom: 90px;
    left: 0;
    top: -40px;
    height: 80px;
    width: 20%;
    clip-path: polygon(0% 0, 100% 0, 100% 76%, 0% 100%);
    background-color: var(--vilagoslila);
}

.costumeshape-down > .right {
    bottom: 5%;
    right: 0;
    height: 110px;
    width: 16%;
    clip-path: polygon(0% 0%, 100% 0, 100% 55%, 0% 70%);
    background-color: var(--lila);
}
.costumeshape-down > .right-bottom{
    bottom: 0;
    right: 0;
    height: 110px;
    width: 20%;
    clip-path: polygon(0% 15px, 100% 0%, 100% 100%, 0% 100%);
    background-color: var(--lila);
}




.FeaturedRestaurants{
    height: 700px;
    margin: 10px 0;
}

.center{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
}

.cardholder {
    display: flex;
    flex-direction: row;
}

.card{
    display: flex;
    max-width: 400px;
    flex-direction: column;
    border: 1px solid #121212;
    margin: 5px;
}
@media only screen and (max-width: 1100px){
    .cardholder{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .center{
        margin-top: 20px;
    }
    .FeaturedRestaurants{
        height: max-content;
    }
}
@media only screen and (max-width:880px) {
    .cardholder{
        grid-template-columns: 100%;
    }
    .HeroSection{
        min-height: min-content;
        height: fit-content;
        max-height: max-content;
    }
}


.card-img{

}
.card-img img{
    width: 100%;
}
.card-nameandrate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card-description{}
.card-viewrestaurant{}


.testimonials{
    background-color: var(--vilagoslila);;
}



.search-container {
    margin-bottom: 20px;
}

button {
    padding: 8px;
    cursor: pointer;
}

#advancedSearchContainer {
    display: none;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ #advancedSearchContainer {
    display: block;
}
input[type="checkbox"]:checked ~ .search-container {
    display: none;
}
.advanced-search-container {
}

form {
    display: grid;
    grid-template-columns: 30% 30% 30% 10%;
    grid-gap: 10px;
}
