:root{
    --lila: #7c3aed;
    --feher: #ffffff;
    --vilagoslila: #ede9fe;
    --sotetebblila: #cbb5f9;
    --footerdark: #000000;
    --textszurke: #4a5362;
    --description: #686868;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
}
section{
    min-height: 500px;
}



.navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 5;
    background-color: white;
    padding-left: 100px;
    width: 100dvh;
    min-height: 60px;
    font-size: 16px;
}

.navbarlinks {
    display: flex;
    gap: 50px;
}

.navbarlinks a {
    text-decoration: none;
    color: #121212;
    font-weight: 550;
}

#homeHyper {
    margin-left: 30px;
}



.explorerestaurant-btn{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    color: var(--feher);
    font-weight: 500;
    background-color: var(--lila);
}


.content{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    height: fit-content;
}
.DineEase-landsection{
    max-width: 1300px;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 100%;
    place-items: CENTER;
}

.landtext > h1{
    font-size: 4rem;
    letter-spacing: -1px;
    font-weight:bolder;
}
.landtext > p{
    font-size: 1.1rem;
    color: var(--textszurke);
    line-height: 1.8rem;
    font-weight: 500;
}
.landimg{
    max-width: 500px;
    position: relative;
    bottom: -100px;
}
.landimg img{
    width: 100%;
}







.HeroSectionFrame {
    position: relative;
    z-index: 100;
}

.content {
    min-height: 600px;
    position: relative;
    z-index: 1;
}

.costumeshape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f6f9ff;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    z-index: 0;
}

.side-rectangle {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.left {
    left: 0;
    bottom: 0px;
    height: 80px;
    width: 30%;
    clip-path: polygon(0% 33px, 100% 1px, 100% 100%, 0% 100%);
    background-color: var(--lila);
}

.right {
    bottom: 60px;
    right: 0;
    height: 110px;
    width: 40%;
    clip-path: polygon(0% 54px, 100% 0%, 100% 100%, 0% 100%);
    background-color: var(--sotetebblila);
}
.right-bottom{
    bottom: 0;
    right: 0;
    height: 110px;
    width: 20%;
    clip-path: polygon(0% 15px, 100% 0%, 100% 100%, 0% 100%);
    background-color: var(--lila);
}

.costumeshape-down {
    display: flex;
    position: relative;
    top: 0;
    width: 100%;
    background-color: #f6f9ff;
    z-index: 0;
}
.costumeshape-down > .left {
    margin-bottom: 90px;
    left: 0;
    top: -40px;
    height: 80px;
    width: 20%;
    clip-path: polygon(0% 0, 100% 0, 100% 76%, 0% 100%);
    background-color: var(--vilagoslila);
}

.costumeshape-down > .right {
    bottom: 30px;
    right: 0;
    height: 110px;
    width: 16%;
    clip-path: polygon(0% 0%, 100% 0, 100% 50%, 0% 73px);
    background-color: var(--lila);
}
.costumeshape-down > .right-bottom{
    bottom: 0;
    right: 0;
    height: 110px;
    width: 20%;
    clip-path: polygon(0% 15px, 100% 0%, 100% 100%, 0% 100%);
    background-color: var(--lila);
}


.FeaturedRestaurants{
    height: 700px;
    margin: 10px 0;
}

.center{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
}
hr{
    width: 60%;
    text-align: center;
    border: none;
    background-color: var(--description);
    height: 2px;
    opacity: 50%;
    border-radius: 20px;
    display: none;
}


.FeaturedRestaurants-title{
    font-size: 4rem;
    letter-spacing: -1px;
    font-weight:bolder;
    margin-bottom: 0;
    margin-left: 80px;
    align-self: self-start;
}
.FeaturedRestaurants-alttitle{
    font-size: 1.1rem;
    color: var(--textszurke);
    font-weight: 500;
    margin-top: 10px;
    margin-left: 80px;
    align-self: self-start;
}


.cardholder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 18px;
}

.card{
    display: flex;
    max-width: 340px;
    flex-direction: column;
    margin: 5px;
    box-shadow: 1px 1px 5px #d4d4d4;
    border-radius: 6px;
    padding: 16px;
}
@media only screen and (max-width: 1100px){
    .cardholder{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .center{
        margin-top: 20px;
    }
    .FeaturedRestaurants{
        height: max-content;
    }
}
@media only screen and (max-width:880px) {
    .cardholder{
        grid-template-columns: 100%;
    }
    .HeroSection{
        min-height: min-content;
        height: fit-content;
        max-height: max-content;
    }
}

.card-img{
}
.card-img > img{
    max-height: 200px;
    border-radius: 10px;
}
.card-img img{
    width: 100%;
}
.card-nameandrate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: end;
    margin-bottom: 0;
    height: 50px;
}
.ratestars{
    align-self: end;
}
.gray{
    filter: grayscale(100%);
}

.card-nameandrate > h2{
    font-size: 24px;
    font-weight: 700;
    align-items: end;
}

.card-description > p{
    font-size: 16px;
    color: var(--description);
    font-weight: 500;
}
.card-viewrestaurant{
    color: var(--lila);
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    text-align: right;
}


.testimonials{
    background-color: var(--vilagoslila);
    background-image: url('./assets/images/Quote\ mark.png');
    background-repeat: no-repeat;
    background-position: 50px 50px;
    display: grid;
    grid-template-columns: 50% 45%;
    min-height: 640px;
    height: max-content;
    justify-content: center;
    gap: 40px;
}

.testimonials > div:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
}

.testimonials > div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 40px;
}

.testimonials h1{
    font-size: 42px;
    letter-spacing: -1px;
    font-weight:bolder;
    margin-bottom: 0;
    margin-left: 80px;
    max-width: 420px;
    align-self: flex-end;
}
svg{
    width: 16px;
    height: 16px;
    margin-top: 10px;
}
.quoteincarda{
}

.experiencecard{
    max-width: 300px;
    background-color: #fff;
    border-radius: 8px;
    align-self: flex-end;
}
.experiencecard2{
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
}
.experiencecard3{
    max-width: 310px;
    background-color: #fff;
    border-radius: 8px;
}


.experiencecardbody{
    display: grid;
    grid-template-columns: 10% 90%;
    padding: 14px 16px;
}
.experienceCardText > h4{
    margin: 12px 0;
}



.restaurant_search input{
    padding: 0;
}
.search-container {
    display: grid;
    grid-template-columns: 300px 36px 46px;
    justify-content: center;
}
.search-container button{
    height: 100%;
    width: 46px;
    background-color: var(--vilagoslila);
    margin-left: 16px;
    border-radius: 8px;
    max-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.search-container button > *{
    fill: #000000 !important;
}
.search-container img {
    width: 34px;
}
.restaurant_search > h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 0;
}
.restaurant_search > p{
    text-align: center;
    margin: 5px 0 20px 0;
    font-weight: 500;
}



#simpleSearch{
    padding-left: 38px;
    background: url("./assets/images/Search\ Iconvector.svg") no-repeat left;
    background-size: 36px;
    background-color: var(--vilagoslila);
    border: none;
    border-radius: 8px 0 0 8px;
    height: 46px;
}
.filter{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 36px;
    background-color: var(--vilagoslila);
    border-radius: 0 8px 8px 0;
}
.filter > img{
    width: 100%;
    max-width: 22px;
}


#advancedSearchContainer {
    display: none;
}
#advancedSearchContainer{
    grid-template-columns: 200px 200px 200px 46px;
    gap: 10px;
    justify-content: center;
}
#advancedSearchContainer input, #advancedSearchContainer select{
    padding-left: 8px;
    background-size: 36px;
    background-color: var(--vilagoslila);
    border: none;
    border-radius: 8px;
    height: 46px;
}
#advancedSearchContainer button{
    height: 100%;
    width: 46px;
    background-color: var(--vilagoslila);
    border-radius: 8px;
    max-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
#advancedSearchContainer img{
    height: 100%;
    width: auto;
}
#advancedSearchContainer label{
    grid-column: 1/5;
    text-align: center;
    color: var(--lila);
    font-weight: 700;
}



input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ #advancedSearchContainer {
    display: grid;
}
input[type="checkbox"]:checked ~ .search-container {
    display: none;
}
.advanced-search-container {
}

form {
    display: grid;
    grid-template-columns: 30% 30% 30% 10%;
    grid-gap: 10px;
}

.AllrestaurantSearch{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ShowMoreDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--lila);
    font-size: 18px;
    font-weight: 600;
}
.ShowMoreDiv button{
    color: var(--lila);
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0 50px 0;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    transition: .2s all ease-in-out;
}
.ShowMoreDiv img{
    max-height: 24px;
    width: auto;
    margin-left: 8px;
}
#showLessBtn{
    display: none;
}

#showLessBtn img{
    transform: rotateX(180deg);
}

footer {
    background-color: black;
    color: white;
    padding: 50px 10px 50px 100px;
    text-align: left;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

footer > .container {
    display: grid;
    grid-template-columns: 50% 50%;
}

#footerleftdiv,
#footerrightdiv {
    position: relative;
    flex: 1;
}

#footerrightdiv {
    padding-right: 150px;
}

#footerrightdiv img {
    float: right;
    padding: 5px;
}

#footerrightdiv p {
    width: 120px;
    text-align: left;
    margin-left: auto;
    margin-right: 0;
}

#privacyGO {
    text-decoration: none;
    color: white;
}

#copyrightSmall {
    color: lightgray;
    font-size: small;
    padding-top: 20px;
}





@media only screen and (max-width:800px) {
    .navbar{
        padding-left: 20px;
        width: fit-content;
    }
    .DineEase-landsection{
        grid-template-columns: 100%;
        grid-template-rows: max-content;
        height: fit-content;
        padding: 20px;
    }
    hr{
        display: block;
    }
    .costumeshape{
        display: none;
    }
    .costumeshape-down{
        display: none;
    }
    .landimg{
        position:unset;
        height: min-content;
    }

    .cardholder{
        justify-items: center;
        padding-bottom: 60px;
    }
    .card{
        max-width: 80%;
        width: 100%;
    }
    .card-img img{
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
    }
    .testimonials{
        padding-top: 36px;
        grid-template-columns: 100%;
        padding-bottom: 60px;
        gap: 20px;
        background-position: 30px 40px;
    }
    .testimonials h1{
        max-width: 100%;
        max-width: 90%;
        align-self: center;
        margin-left: 0;
    }
    .testimonials > div:nth-child(2){
        flex-direction: column-reverse;
        gap: 20px;
    }
    .experiencecard,
    .experiencecard2,
    .experiencecard3{
        max-width: 90%;
        align-self: center;
    }
}