:root{
    --lila: #7c3aed;
    --feher: #ffffff;
    --vilagoslila: #ede9fe;
    --sotetebblila: #cbb5f9;
    --footerdark: #000000;
    --textszurke: #4a5362;
    --description: #686868;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
}
section{
    min-height: 500px;
}



.navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 5;
    background-color: white;
    padding-left: 100px;
    width: max-content;
    min-height: 60px;
    font-size: 16px;
}

.navbarlinks {
    display: flex;
    gap: 50px;
}

.navbarlinks a {
    text-decoration: none;
    color: #121212;
    font-weight: 550;
}

#homeHyper {
    margin-left: 30px;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.MainContainer{
    max-width: 1400px;
    width: 100%;
    display: grid;
    grid-template-columns: 450px auto;
    padding: 20px;
}
.contactInfoFrame{
    display: grid;
    grid-template-rows: 25% 50% 25%;

    background-color: var(--lila);
    color: var(--feher);
    padding: 15px 38px;
    min-height: 600px;
    margin: 50px 0;
    border-radius: 8px;
}
.contactInfoFrame h1{
    font-size: 29px;
    margin-bottom: 0;
    font-weight: 500;
}
.contactInfoFrame>div{
    width: fit-content;
}

.CardItem{
    display: flex;
    flex-direction: column;
}
.cardParagraph{
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;

}

.ContactInfo{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: 10px 0;
}

.MainInfo{
    align-self: center;
}

.social {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: end;
    margin-bottom: 10px;
}
.social img{
    height: 30px;
}

.ContactForm{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0 20px 20px;
}
.ContactForm-Form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}
.ContactForm-Form div{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
}
.ContactForm-Form input{
    max-width: 350px;
    width: 100%;
    height: 40px;
    border: none;
    background-color: #f2f2f2;
    border-radius: 8px;
    padding-left: 12px;
}
.ContactForm-Form textarea{
    resize: none;
    max-width: 730px;
    width: 100%;
    border: none;
    background-color: #f2f2f2;
    border-radius: 8px;
    padding-left: 12px;
    padding-top: 8px;
    height: 140px;
}

.formbutton{
    display: flex;
    justify-content: flex-end !important;
    max-width: 847px;
}
.formbutton > button{
    border: none;
    width: 160px;
    height: 45px;
    border-radius: 8px;
    color: var(--feher);
    background-color: var(--lila);
    font-weight: 500;
    font-size: 14px;
}


footer {
    background-color: black;
    color: white;
    padding: 50px 10px 50px 100px;
    text-align: left;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

footer > .container {
    display: grid;
    grid-template-columns: 50% 50%;
}

#footerleftdiv,
#footerrightdiv {
    position: relative;
    flex: 1;
}

#footerrightdiv {
    padding-right: 150px;
}

#footerrightdiv img {
    float: right;
    padding: 5px;
}

#footerrightdiv p {
    width: 120px;
    text-align: left;
    margin-left: auto;
    margin-right: 0;
}

#privacyGO {
    text-decoration: none;
    color: white;
}

#copyrightSmall {
    color: lightgray;
    font-size: small;
    padding-top: 20px;
}

.shapeCircle {
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
}



@media only screen and (max-width:800px) {
    .navbar{
        padding-left: 20px;
        width: fit-content;
    }
    .MainContainer{
        grid-template-columns: 100%;
    }
    .ContactForm{
        padding: 0;
    }
}